<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <script>

        function getJSONP(url, success) {
            var ud = '_' + +new Date,
                script = document.createElement('script'),
                head = document.getElementsByTagName('head')[0]
                       || document.documentElement;

            window[ud] = function(data) {
                head.removeChild(script);
                success && success(data);
            };

            script.src = url.replace('callback=?', 'callback=' + ud);
            head.appendChild(script);
        }

        getJSONP('../resrobot?callback=?', function(data){
            var table = document.getElementById('commuteTable');
            var data = data['timetableresult']['ttitem'];
            for(var i = 0; i < data.length; i++){

                table.innerHTML += 'Segment' + i;
                for(var d = 0; d < data[i]['segment'].length; d++){
                    //table.innerHTML += '<td>';
                    //stopp
                        table.innerHTML += 'Starttid: ' + data[i]['segment'][d]['arrival']['datetime'];
                        table.innerHTML += '  Från: coordsX-' + data[i]['segment'][d]['arrival']['location']['@x']
                                        + '   coordsY- ' + data[i]['segment'][d]['arrival']['location']['@y']
                                        + '   Namn- ' + data[i]['segment'][d]['arrival']['location']['name'] + '</br>';
                        //table.innerHTML += '<td>';

                        //arrival
                        table.innerHTML += '  Ankomstid: ' + data[i]['segment'][d]['departure']['datetime'];
                        table.innerHTML += '  Till: coordsX-' + data[i]['segment'][d]['departure']['location']['@x']
                                        + '   coordsY-' + data[i]['segment'][d]['departure']['location']['@y']
                                        + '   Namn-' + data[i]['segment'][d]['departure']['location']['name'] + '</br>';




                        table.innerHTML += '   Färdsätt-' + data[i]['segment'][d]['segmentid']['mot']['#text'] + '</br></br>';



                    /*
                        table.innerHTML += '<td>';


                        table.innerHTML += '</td>';



                    console.log('SEGMENT' + d);
                    console.log('Arrival')
                    console.log(data[i]['segment'][d]['arrival']);
                    console.log('Departure')
                    console.log(data[i]['segment'][d]['departure']);

                    table.innerHTML += '</td>';

                    table.innerHTML += '<td>';
                    //Typ av förflyttning
                    console.log('Typ av förflyttning')
                    console.log(data[i]['segment'][d]['segmentid']);
                    table.innerHTML += '</td>';

                    */


                    //table.innerHTML += '</td>';
                }
                //table.innerHTML += '</tr>';
            }
        });

    </script>
</head>
<body>

    <div id="commuteTable">

    </div>
</body>
</html>