{% extends "master.html" %}
{% block javaScriptHeader %}

    <link href='/static/stylesheet/adView.css' rel='stylesheet' type='text/css' />
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
    <script>
        var map, placesList, infoWindow, service;

        function initialize() {
            var pyrmont = new google.maps.LatLng( {{ coordinates[0] }}, {{ coordinates[1] }} );

        map = new google.maps.Map(document.getElementById('map-canvas'), {
            center: pyrmont,
            zoom: 17
        });


        var request = {
            location: pyrmont,
            radius: {{ radius }},
            //tojson filters the 'types' list to json
            types: {{ types | tojson }}
        };

        placesList = document.getElementById('places');

        service = new google.maps.places.PlacesService(map);
        infoWindow = new google.maps.InfoWindow();
        service.nearbySearch(request, callback);
        //marker for the place we want to find
        var marker = new google.maps.Marker({
            position: pyrmont,
            map: map,
            title: 'Origin'
        });
        }

        function callback(results, status, pagination) {
            if (status != google.maps.places.PlacesServiceStatus.OK) {
                return;
            } else {
                if (pagination.hasNextPage) {
                    //this has some delay due to google api request constraints
                    pagination.nextPage();
                }
                createMarkers(results);

            }
        }

        function createMarkers(places) {
            var bounds = new google.maps.LatLngBounds();

            for (var i = 0, place; place = places[i]; i++) {
                var image = {
                    url: place.icon,
                    size: new google.maps.Size(71, 71),
                    origin: new google.maps.Point(0, 0),
                    anchor: new google.maps.Point(17, 34),
                    scaledSize: new google.maps.Size(25, 25)
                };

                var marker = new google.maps.Marker({
                    map: map,
                    icon: image,
                    title: place.name,
                    position: place.geometry.location
                });

                placesList.innerHTML += '<li>' + place.name + '</li>';
                bounds.extend(place.geometry.location);

                google.maps.event.addListener(marker, 'click', (function(place, marker) {
                    return function(){
                        service.getDetails(place, function(result, status) {
                            if (status != google.maps.places.PlacesServiceStatus.OK) {
                                alert(status);
                                return;
                            }
                            //just to avoid undefined showing in textbox
                            var content = '<span style="padding: 0px; text-align:left" align="left"><h5>';
                            if(result.name){
                                content = content + result.name + '&nbsp; &nbsp; ';
                            }
                            if(result.rating){
                                content = content + result.rating;
                            }
                            content += '</h5><p>';
                            if(result.formatted_address){
                                content = content + result.formatted_address + '<br />';
                            }
                            if(result.formatted_phone_number){
                                content = content + result.formatted_phone_number + '<br />';
                            }
                            if(result.website){
                                content = content + '<a  target="_blank" href=' + result.website + '>' + result.website + '</a></p>';
                            }

                            //how the popup window is displayed
                            infoWindow.setContent(content) ;

                            infoWindow.open(map, marker);
                        });
                    }
                })(place, marker));

            }
            //resizes the map to fit
            //map.fitBounds(bounds);
        }

        google.maps.event.addDomListener(window, 'load', initialize);
    </script>

{% endblock %}

{% block adNearbyStores %}
    <div id="map-canvas"></div>
    <div id="results">
        <h2>Results</h2>
        <ul id="places"></ul>
    </div>
{% endblock %}

